.vs/Laboratorio1/CopilotIndices/17.13.433.20974/CodeChunks.db-shm
.vs/Laboratorio1/CopilotIndices/17.13.433.20974/CodeChunks.db-wal
.vs/Laboratorio1/CopilotIndices/17.13.433.20974/SemanticSymbols.db-shm
.vs/Laboratorio1/CopilotIndices/17.13.433.20974/SemanticSymbols.db-wal
.vs/Laboratorio1/FileContentIndex/18840105-1897-49c5-89d9-124b9b63244b.vsidx
.vs/Laboratorio1/FileContentIndex/22994dd5-5a62-46a3-a969-7016ce235386.vsidx
.vs/Laboratorio1/FileContentIndex/4ee107e5-545b-4d1b-91c5-8f1abc381d8e.vsidx
.vs/Laboratorio1/FileContentIndex/af1bb411-5c4a-4917-9d93-cd435af1a373.vsidx
.vs/Laboratorio1/FileContentIndex/def0251e-3758-48a7-9b80-d38f41cde357.vsidx
Laboratorio1/obj/Debug/net8.0/Laboratorio1.AssemblyInfoInputs.cache
Laboratorio1/obj/Debug/net8.0/Laboratorio1.AssemblyInfo.cs
Laboratorio1/obj/Debug/net8.0/Laboratorio1.AssemblyInfoInputs.cache
.vs/slnx.sqlite
.vs/slnx.sqlite-journal
.vs/Laboratorio1/FileContentIndex/d9474089-ff00-4b54-ba74-9306020c3ff7.vsidx
.vs/slnx.sqlite
.vs/Laboratorio1/DesignTimeBuild/.dtbcache.v2
.vs/Laboratorio1/v17/.futdcache.v2
.vs/Laboratorio1/v17/.suo
.vs/Laboratorio1/v17/DocumentLayout.backup.json
.vs/Laboratorio1/v17/DocumentLayout.json
.vs/Laboratorio1/v17/fileList.bin
.vs/ProjectEvaluation/laboratorio1.metadata.v9.bin
.vs/ProjectEvaluation/laboratorio1.projects.v9.bin
.vs/ProjectEvaluation/laboratorio1.strings.v9.bin
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
